# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
npm-shrinkwrap.json

# Next.js build (client)
client/.next/
client/out/

# NestJS build (server)
server/dist/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDEs e editores de código
.vscode/
.idea/

logs/
*.log

.env
.env.local
.env.development
.env.test
.env.production

tmp/
temp/


client/.cache/

coverage/

client/node_modules/
server/node_modules/
server/
